{% extends "base.html" %}
{% load static %}
{% block title %}Meal Plans{% endblock %}

{% block content %}
    <h2>Welcome to the Meal Plans</h2>
    <p>Browse through a selection of meal plans created by certified nutritionists and fitness coaches.</p>

    <div class="row">
        {% for mealplan in mealplans %}
            <div class="col-md-4 mb-4">
                <div class="card">
                    {% if mealplan.picture %}
                        <img src="{{ mealplan.picture.url }}" class="card-img-top fixed-image" alt="{{ mealplan.title }}">
                    {% else %}
                        <img src="{% static 'images/no-image.jpg' %}" class="card-img-top fixed-image" alt="No Image Available">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ mealplan.title }}</h5>
                        <p class="card-text">{{ mealplan.description|truncatewords:20 }}</p>
                        <a href="{% url 'details-meal' pk=mealplan.pk %}" class="btn btn-primary">View Details</a>
                    </div>
                    <div class="card-footer text-muted">
                        Created by: {{ mealplan.author.user.username }}
                    </div>
                </div>
            </div>
        {% empty %}
            <p>No meal plans available at the moment.</p>
        {% endfor %}
    </div>

{% endblock %}
